.Form {
  border: 1px solid;
  border-radius: 5px;

  margin-bottom: 20px;
  padding: 30px;

  display: flex;
  flex-direction: column;

  background-color: white;
}

.Form > * {
  margin-bottom: 20px;
}

.Form > *:last-child {
  margin-bottom: 0px;
}

.DescriptionLabel {
  padding-left: 10px;
}

.ErrorLabel {
  padding: 5px 10px;
  border-radius: 15px;
  background: #dc3545;

  margin-left: 20px;
}

.Input {
  background: #add8e6;
  border: 1px solid #add8e6;
  border-radius: 15px;

  height: 30px;
  padding-left: 10px;
}
