.TextBox {
  width: 50%;
  border: 1px solid;
  border-radius: 5px;

  background-color: white;
}

.Content {
  padding: 10px 30px;
}

@media only screen and (max-width: 800px) {
  .TextBox {
    width: auto;
  }
}
